In [1]:
import pandas as pd

import cobra

from cobra.io import load_model

# From `json`

In [2]:
import json

path = "../data/gem.json"

with open(path, 'r') as f:
    data = json.load(f)

In [3]:
data.keys()

dict_keys(['metabolites', 'reactions', 'genes', 'id', 'compartments', 'version'])

In [4]:
rxn_df = pd.DataFrame(columns=['id', 'metabolite', 'stoichiometry', 'lower_bound', 'upper_bound'])

for rxn in data['reactions']:
    
    rxn_id = rxn['id']
    lb = rxn['lower_bound']
    ub = rxn['upper_bound']
    
    for m, s in rxn['metabolites'].items():
       
        row = [rxn_id, m, s, lb, ub]
        
        rxn_df.loc[len(rxn_df)] = row

In [5]:
rxn_df

      id metabolite  stoichiometry  lower_bound  upper_bound
0    PFK      adp_c            1.0          0.0       1000.0
1    PFK      atp_c           -1.0          0.0       1000.0
2    PFK      f6p_c           -1.0          0.0       1000.0
3    PFK      fdp_c            1.0          0.0       1000.0
4    PFK        h_c            1.0          0.0       1000.0
..   ...        ...            ...          ...          ...
355  PDH      co2_c            1.0          0.0       1000.0
356  PDH      coa_c           -1.0          0.0       1000.0
357  PDH      nad_c           -1.0          0.0       1000.0
358  PDH     nadh_c            1.0          0.0       1000.0
359  PDH      pyr_c           -1.0          0.0       1000.0

[360 rows x 5 columns]

In [6]:
rxn_df.to_csv('reactions_from_json.csv')