In [1]:
import pandas as pd
import numpy as np
import networkx as nx
import cobra
import matplotlib.pyplot as plt

import sys
sys.path.append("src/")
import GEMtoGRAPH as gg

In [2]:
GEM_NAME = 'textbook'
model = cobra.io.load_model(GEM_NAME)
S = cobra.util.array.create_stoichiometric_matrix(model, array_type='DataFrame')

In [3]:
A, G = gg.RAG(S, model)

# nodes: 95
# edges: 1158

In [4]:
D, G = gg.NFG(S, model)

# nodes: 190
# edges: 1578

In [5]:
M, G = gg.MFG(S, model)

# nodes: 190
# edges: 290

In [17]:
G = nx.convert_node_labels_to_integers(G, first_label=0, ordering='default', label_attribute=None)
G.nodes

NodeView((0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189))

In [27]:
from karateclub import DeepWalk 
from karateclub import Node2Vec

" Perform node embedding using Node2Vec "
N2vec_model = Node2Vec(walk_number=10, walk_length=80,p=0.9,
                       q=0.1,dimensions=3)
N2vec_model.fit(G)

N2Vec_embedding = N2vec_model.get_embedding()
print('Embedding array shape (nodes x features):', 
      N2Vec_embedding.shape )

Embedding array shape (nodes x features): (190, 3)

In [28]:
df = pd.DataFrame(N2Vec_embedding)
df.index = M.columns
df

                 0         1         2
ACALD    -7.807803 -6.292499 -7.211791
ACALDt   -7.039636  1.020390 -8.954219
ACKr      0.368836 -3.753482 -1.517412
ACONTa   -0.871784 -1.443419 -1.246508
ACONTb   -0.456126 -2.315135 -2.674246
...            ...       ...       ...
rev_TALA -2.815240 -3.102660  1.278551
rev_THD2 -1.400039 -3.349320 -0.152720
rev_TKT1 -0.756586 -3.319704  0.890418
rev_TKT2 -0.621102  0.130259 -0.659788
rev_TPI  -1.001799  0.487726 -0.051312

[190 rows x 3 columns]

In [26]:
df = pd.DataFrame(N2Vec_embedding)
df.index = M.columns
df

                 0         1         2
ACALD    -7.807803 -6.292499 -7.211791
ACALDt   -7.039636  1.020390 -8.954219
ACKr      0.196365 -3.538492 -1.361741
ACONTa   -0.933906 -1.342797 -1.091807
ACONTb   -0.412072 -2.089192 -2.337241
...            ...       ...       ...
rev_TALA -3.647864  2.183916 -1.451857
rev_THD2 -2.739849  1.683387 -2.473292
rev_TKT1 -2.045641  2.500863 -1.521319
rev_TKT2 -0.428061 -0.695637 -0.200255
rev_TPI  -0.863936 -0.451742  0.559068

[190 rows x 3 columns]

### Δοκιμή εύρεσης pathway σε RAG

In [6]:
A, G = gg.RAG(S, model)

# nodes: 95
# edges: 1158

In [7]:
G.nodes()

NodeView(('ACALD', 'ACALDt', 'ACKr', 'ACONTa', 'ACONTb', 'ACt2r', 'ADK1', 'AKGDH', 'AKGt2r', 'ALCD2x', 'ATPM', 'ATPS4r', 'Biomass_Ecoli_core', 'CO2t', 'CS', 'CYTBD', 'D_LACt2', 'ENO', 'ETOHt2r', 'EX_ac_e', 'EX_acald_e', 'EX_akg_e', 'EX_co2_e', 'EX_etoh_e', 'EX_for_e', 'EX_fru_e', 'EX_fum_e', 'EX_glc__D_e', 'EX_gln__L_e', 'EX_glu__L_e', 'EX_h_e', 'EX_h2o_e', 'EX_lac__D_e', 'EX_mal__L_e', 'EX_nh4_e', 'EX_o2_e', 'EX_pi_e', 'EX_pyr_e', 'EX_succ_e', 'FBA', 'FBP', 'FORt2', 'FORti', 'FRD7', 'FRUpts2', 'FUM', 'FUMt2_2', 'G6PDH2r', 'GAPD', 'GLCpts', 'GLNS', 'GLNabc', 'GLUDy', 'GLUN', 'GLUSy', 'GLUt2r', 'GND', 'H2Ot', 'ICDHyr', 'ICL', 'LDH_D', 'MALS', 'MALt2_2', 'MDH', 'ME1', 'ME2', 'NADH16', 'NADTRHD', 'NH4t', 'O2t', 'PDH', 'PFK', 'PFL', 'PGI', 'PGK', 'PGL', 'PGM', 'PIt2r', 'PPC', 'PPCK', 'PPS', 'PTAr', 'PYK', 'PYRt2', 'RPE', 'RPI', 'SUCCt2_2', 'SUCCt3', 'SUCDi', 'SUCOAS', 'TALA', 'THD2', 'TKT1', 'TKT2', 'TPI'))

In [15]:
paths = nx.all_shortest_paths(G, source='EX_glc__D_e', target='EX_succ_e')

In [16]:
list(paths)

[['EX_glc__D_e', 'GLCpts', 'Biomass_Ecoli_core', 'SUCCt2_2', 'EX_succ_e'],
 ['EX_glc__D_e', 'GLCpts', 'G6PDH2r', 'SUCCt2_2', 'EX_succ_e'],
 ['EX_glc__D_e', 'GLCpts', 'LDH_D', 'SUCCt2_2', 'EX_succ_e'],
 ['EX_glc__D_e', 'GLCpts', 'PPC', 'SUCCt2_2', 'EX_succ_e'],
 ['EX_glc__D_e', 'GLCpts', 'PPS', 'SUCCt2_2', 'EX_succ_e'],
 ['EX_glc__D_e', 'GLCpts', 'PYK', 'SUCCt2_2', 'EX_succ_e'],
 ['EX_glc__D_e', 'GLCpts', 'PYRt2', 'SUCCt2_2', 'EX_succ_e'],
 ['EX_glc__D_e', 'GLCpts', 'Biomass_Ecoli_core', 'SUCCt3', 'EX_succ_e'],
 ['EX_glc__D_e', 'GLCpts', 'G6PDH2r', 'SUCCt3', 'EX_succ_e'],
 ['EX_glc__D_e', 'GLCpts', 'LDH_D', 'SUCCt3', 'EX_succ_e'],
 ['EX_glc__D_e', 'GLCpts', 'PPC', 'SUCCt3', 'EX_succ_e'],
 ['EX_glc__D_e', 'GLCpts', 'PPS', 'SUCCt3', 'EX_succ_e'],
 ['EX_glc__D_e', 'GLCpts', 'PYK', 'SUCCt3', 'EX_succ_e'],
 ['EX_glc__D_e', 'GLCpts', 'PYRt2', 'SUCCt3', 'EX_succ_e']]